{% extends '::base.html.twig' %}
{% block lateral %}
<div class="large-3 columns">
              <div >
<ul class="pricing-table">
<li class="title">RELEVANT DATES:</li>
<li class="bullet-item">
    <strong>Submission deadline:</strong><br> September 7, 2016 <strong></strong>
</li>
<li class="bullet-item">
    <strong>Acceptance Notification:</strong><br> October 12, 2016
</li>
<li class="bullet-item">
    <strong>Camera Ready:</strong><br> November 2, 2016
</li>
<li class="bullet-item">
    <strong>Workshop date:</strong><br> January 8, 2017
</li>
</ul>
              </div>
              <div >
<ul class="pricing-table">
<li class="title">LATEST NEWS</li>
<li class="bullet-item">
    <strong>Website launch:</strong> April 27
</li>
<li class="bullet-item">
    <strong>Submission open:</strong> TBA
</li>
<li class="bullet-item">
    <strong>Paper page limit modified:</strong> May 17
</li>
</ul>
</div>
<div>
<ul class="pricing-table">
<li class="title">ORGANIZATION:</li>
<li class="description">
    <strong>Dr. Arnoldo Díaz-Ramírez</strong><br>
    Technical Institute of Mexicali (ITM), México<br>
    <a href="mailto:adiaz@itmexicali.edu.mx">adiaz@itmexicali.edu.mx</a>
</li>
<li class="description">
    <strong>Dr. Juan P. García-Vázquez</strong><br>
    Universidad Autónoma de Baja California (UABC), México<br>
    <a href="mailto:pablo.garcia@uabc.edu.mx">pablo.garcia@uabc.edu.mx</a>
</li>
</ul>
              </div>
              <div >
              <img src="{{ asset('caii.png')}}">
              </div>
</div>
{% endblock %}
{% block cols %}
<div class="large-9 columns">
{% endblock %}
