{% extends '::base.html.twig' %}
{% block content %}
<h1>Call for Papers</h1>
<p>
The first International Workshop on Ambient Assisted Living and eHealth  (AALEH 2016) aims to bring together researchers, engineers, students, and technologists, to exchange, discuss, and share their experiences, ideas and research results on both the theoretical and practical aspects of eHealth and Ambient Assisted Living (AAL) services. AALEH is Co-Located with 14th IEEE Consumer Communications and Networking Conference (<a href="http://ccnc2016.ieee-ccnc.org/">CCNC 2016</a>).
<br><br>
These services are a helpful tool to address the inherent problems of the aging societies. Among the enabling technologies of eHealth and ALL services, we have wireless sensor networks, the Internet of Things, ambient intelligence, and cyber-physical systems, just to name a few.
<br><br>
Therefore, this workshop is soliciting original technical papers addressing the main research challenges in the eHealth and Ambient Assisted Living (AAL) area. All accepted and presented papers will be published in the conference proceedings and on IEEE Xplore.
 </p>
{% endblock %}
{% block lateral %}
              <div >
<ul class="pricing-table">
<li class="title">RELEVANT DATES:</li>
<li class="bullet-item">
    <strong>Submission deadline:</strong> August 28, 2015
</li>
<li class="bullet-item">
    <strong>Acceptance Notification:</strong> September 30, 2015
</li>
<li class="bullet-item">
    <strong>Camera Ready:</strong> November 2, 2015
</li>
<li class="bullet-item">
    <strong>Workshop date:</strong> January 9, 2016
</li>
</ul>
              </div>
              <div >
<ul class="pricing-table">
<li class="title">LATEST NEWS</li>
<li class="bullet-item">
    <strong>Website launch,</strong> June 22
</li>
<li class="bullet-item">
    <strong>Submission open,</strong> June 22
</li>
</ul>
              </div>
<div>
<ul class="pricing-table">
<li class="title">ORGANIZATION:</li>
<li class="description">
    <strong>Dr. Arnoldo Díaz-Ramírez</strong><br>
    Technical Institute of Mexicali (ITM), México<br>
    <a href="mailto:adiaz@itmexicali.edu.mx">adiaz@itmexicali.edu.mx</a>
</li>
</ul>
              </div>
              <div >
              <img src="{{ asset('caii.png')}}">
              </div>
{% endblock %}
