{% extends '::base.html.twig' %}
{% block content %}
<h1>Call for Papers</h1>
<p>
The first International Workshop on Vehicular Networking and Intelligent Transportation Systems (VENITS'15) aims to bring together researchers, engineers, students, and technologists, to exchange, discuss, and share their experiences, ideas and research results on both the theoretical and practical aspects of wireless networking and transportation technologies. VENITS is co-located with 13th IEEE Consumer Communications and Networking Conference (CCNC 2015).
<br>
We consider that several issues remain open in the field on vehicular networking, including message dissemination in congested environments, Quality of Service (QoS), efficient and adaptive routing, MAC layer enhancements, mobility prediction, efficient handovers, and also in Intelligent Transportation Systems, such as efficient road traffic managing, optimal emergency services operation, etc.
<br>
Therefore, this workshop is soliciting original technical papers addressing the main research challenges in the vehicular networking and the intelligent transportation systems area. All accepted and presented papers will be published in the conference proceedings and on IEEE Xplore.
 </p>
{% endblock %}
