{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chair</h4>
Arnoldo Díaz-Ramírez (ITM, México)
<br><br>
<h4>Program Committee</h4>
Paolo Spagnolo (INO, Italy)<br>
Jonathon Chambers (Newcastle University, UK)<br>
Johann M. Marquez-Barja  (CTVR-Trinity College Dublin, Ireland)<br>
Victor H. Díaz-Ramírez (CITEDI-IPN, México)<br>
Juan Pablo García (UABC, México)<br>
Mihail Popescu (University of Missouri, USA)<br>
Anthony D. Wood (University of Virginia, USA)<br>
Sergio Martínez (UPV, Spain)<br>
Julio Alberto Sangüesa Escorihuela (University of Zaragoza, Spain)<br>
David Boyle (Imperial College, UK)<br>
 </p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
