{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chairs</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Juan Pablo García (UABC, México)
<br><br>
<h4>Program Committee</h4>
<h5>To be announced...</h5>
 </p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
