{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chairs</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Juan Pablo García (UABC, México)
<br><br>
<h4>Program Committee</h4>
<ul class="pricing-table">
  <li class="title"><strong>To be announced...</strong></li>
</ul>
 </p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
