{% extends '::base.html.twig' %}
{% block content %}
<h1>to be announced...</h1>
<p></p>
{# <h1>Organization</h1>
<p>
<h4>General Chair</h4>
Arnoldo Díaz-Ramírez (ITM, México)
<br><br>
<h4>Program Committee</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Wei Wang (SDSU, USA)<br>
Victor H. Díaz-Ramírez (CITEDI-IPN, México)<br>
Paolo Spagnolo (INO, Italy)<br>
Jonathon Chambers (Newcastle University, UK)<br>
Johann Marquez (CTVR, Ireland)<br>
Mihall Popescu (University of Missouri, USA)<br>
Juan M. Corchado (University of Salamanca, Spain)<br>
Jesus Favela (CICESE, México)<br>
Anthony D. Wood (University of Virginia, USA)<br>
David Boyle (Imperial College, UK)<br>
Cem Ersoy (Bogazici University, Turkey)<br>
Giovanni Acampora (Nottingham Trent University, UK)<br>
Parisa Rashidi (Northwestern University, USA)<br>
 </p>#}
{% endblock %}