{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chair</h4>
Arnoldo Díaz-Ramírez (ITM, México)
<br><br>
<h4>Program Committee</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Paolo Spagnolo (INO, Italy)<br>
Jonathon Chambers (Newcastle University, UK)<br>
Johann Marquez (CTVR, Ireland)<br>
Victor H. Díaz-Ramírez (CITEDI-IPN, México)<br>
Mihail Popescu (University of Missouri, USA)<br>
Anthony D. Wood (University of Virginia, USA)<br>
David Boyle (Imperial College, UK)<br>
 </p>
{% endblock %}
