{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chairs</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Juan Pablo García (UABC, México)
<br><br>
<h4>Program Committee</h4>
<ul>
  <li>Lex Van Velsen (Roessingh Research and Development)</li>
  <li>Paolo Spagnolo (Consiglio Nazionale delle Ricerche)</li>
  <li>Teodora Sanislav (Technical University of Cluj-Napoca)</li>
  <li>Julio Sanguesa (Universidad de Zaragoza)</li>
  <li>Mihail Popescu (University of Missouri)</li>
  <li>Juan Garcia Vázquez (Universidad Autonoma de Baja California)</li>
  <li>Carlos Galván-Tejada (Instituto Tecnológico y de Estudios Superiores de Monterrey)</li>
  <li>Arnoldo Diaz-Ramirez (Instituto Tecnológico de Mexicali)</li>
  <li>Jonathon Chambers (Newcastle University)</li>
  <li>Jose Carrasco-Jimenez (Instituto Tecnológico y de Estudios Superiores de Monterrey)</li>
  <li>Ramon Brena (Tecnológico de Monterrey, Campus Monterrey)</li>
  <li>Carlos T. Calafate(Universitat Politècnica de València, Spain)</li>
  <li>Pietro Manzoni (Universitat Politècnica de València, Spain)</li>
  <li>Ismael Ripoll (Universitat Politècnica de València, Spain)</li>
  <li>Johann Marquez-Barja (University of Antwerp, Belgium)</li>
  <li>Leonardo Trujillo (Instituto Tecnológico de Tijuana, México)</li>
</ul>
 </p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
