{% extends '::base.html.twig' %}
{% block content %}
	<div class="row" >
	  <div class="small-12 small-centered columns">
	  	<div class="row">
	  		<br/>
	  		<h1 align="center">conrepro@itmexicali.edu.mx</h1> 
	  		<p align="center">Tel. <strong>580-49-31</strong> y <strong>580-49-34</strong></p>
	  	</div>

	  </div>
	</div>
{% endblock %}