{% extends '::base.html.twig' %}
{% block content %}
<h1>Organization</h1>
<p>
<h4>General Chairs</h4>
Arnoldo Díaz-Ramírez (ITM, México)<br>
Juan Pablo García (UABC, México)
<br><br>
<h4>Program Committee</h4>
Paolo Spagnolo (CNR-ISASI, Italy)<br>
Mihail Popescu (University of Missouri, USA)<br>
David Boyle (Imperial College London, United Kingdom)<br>
Ni Zhu (University of Bristol, United Kingdom)<br>
Lex van Velsen (Roessingh Research and Development, The Netherlands)<br>
Jose Carlos Jiménez ( Barcelona Supercomputing Center, Spain)<br>
José Manuel Martínez Sesmero (Complejo Hospitalario de Toledo, Spain)<br>
Julio Sangues (Universidad de Zaragoza, Spain)<br>
Raymundo Cornejo-García (UACH, Mexico)<br>
Marcela D. Rodríguez Urrea (UABC, Mexico)<br>
Ramón Felipe Brena-Pinero  (ITESM, Mexico)<br>
Carlos Galván-Tejada (UAZ, Mexico)<br>
Maria Cosio-León (UABC, Mexico)<br>
Sergio Cornell (Universitat Politecnica de Valencia, Spain)<br>
 </p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
