{% extends '::base.html.twig' %}
{% block content %}
<h1>Scope</h1>
<p> 
Over the years, we have witnessed the merging of wireless communications and transportation technologies. This excellent combination of two important fields has propelled our capabilities even further, allowing us to communicate anytime and anywhere, thereby improving the traffic safety, reducing the travel costs, and increasing our life quality tremendously. 
Once the new Intelligent Transportation Systems are deployed, our roads and highways will be able to provide enhanced services to users through the combination of V2X and cellular communications, thus completely revolutionizing when and how we communicate, commute, and navigate, in the coming future. 
Under such conditions, several issues remain open in the field on vehicular networking, including message dissemination in congested environments, Quality of Service (QoS), efficient and adaptive routing, MAC layer enhancements, mobility prediction, efficient handovers, and also in Intelligent Transportation Systems, such as efficient road traffic managing, optimal emergency services operation, etc.
This workshop is soliciting original technical papers addressing the main research challenges in the vehicular networking and the intelligent transportation systems area.
</p>
<h1>Topics</h1>
<p> 
Topics of interest include, but are not limited to, the following scope:
<ul>
<li>Wireless vehicular networking</li>
<li>Congestion and admission control in dense vehicular networks</li>
<li>Content distribution in wireless vehicular environments</li>
<li>Smartphone/vehicle integration</li>
<li>Service oriented architectures, service portability, P2P</li>
<li>Cooperative sensing of road conditions</li>
<li>Network and system architectures for mobile vehicular computing</li>
<li>DSRC/WAVE communications. DSRC alternatives and supporting technologies</li>
<li>Network protocols and algorithms, including clustering, routing, etc.</li>
<li>Cross-layer protocol design</li>
<li>Statistical analysis, prediction and management of vehicular mobility</li>
<li>Multimedia communications in vehicular scenarios</li>
<li>Models, simulators and tools for vehicular environments</li>
<li>Communications for safety of vulnerable road users</li>
<li>Communications for automated </li>
</ul>
</p>
{% endblock %}