{% extends '::base.html.twig' %}
{% block content %}
<ul class="pricing-table">
  <li class="title"><strong>Technical Program<br>Saturday, January 9, 2016</strong></li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>9:00 – 10:30: AALEH - Ambient Assisted Living and eHealth (1)</strong><br>
    <strong>Chair: Session Prof. Arnoldo Diaz-Ramirez</strong></li>
  <li class="bullet-item">
      <strong>User Interface Design for Privacy Awareness in eHealth Technologies</strong><br>
      Isabel Wagner<sup>1</sup>; Ying He<sup>1</sup>; Duska Rosenberg<sup>1</sup>; Helge Janicke<sup>1</sup> (<sup>1</sup> De Montfort University, UK)
  </li>
  <li class="bullet-item">
      <strong>An Improved Joint Power Harvesting and Communication Technology for Smartphone Centric Ubiquitous Sensing Applications</strong><br>
      Hong Nie<sup>1</sup>; Ranjana Joshi<sup>1</sup>; Ziyuan Li<sup>1</sup> (<sup>1</sup> University of Northern Iowa, USA)
  </li>
  <li class="bullet-item">
      <strong>Modeling the Long Term Fading Behaviour in Residential Wireless SensorNetworks</strong><br>
      Falk-Moritz Schaefer<sup>1</sup>; Ruediger Kays<sup>1</sup>  (<sup>1</sup>  TU Dortmund University, Germany)
  </li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>10:30 – 11:00: Coffee Break</strong></li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>11:00 – 13:00: AALEH - Ambient Assisted Living and eHealth (2)</strong><br>
    <strong>Chair: Session Prof. Arnoldo Diaz-Ramirez</strong></li>
  <li class="bullet-item">
      <strong>PAT: A Power-Aware Decision Tree Algorithm for Mobile Activity Recognition</strong><br>
      Luis G Jaimes<sup>1</sup>  (<sup>1</sup> Bethune-Cookman University, USA); Yueng Delahoz<sup>2</sup> ; Christopher Eggert<sup>2</sup>; Idalides Vergara-Laurens<sup>2</sup> (<sup>2</sup> University of South Florida, USA)
  </li>
  <li class="bullet-item">
      <strong>Encoding Distortion Modeling For DWT-Based Wireless EEG Monitoring System</strong><br>
      Alaa Awad Abdellatif1; Medhat Hamdy<sup>2</sup> (<sup>2</sup>Carleton University, Canada); Amr Mohamed<sup>2</sup> (<sup>2</sup> Qatar University, Qatar)
  </li>
  <li class="bullet-item">
      <strong>Hybrid Rapid Response Routing Approach for Delay-Sensitive Data in Hospital Body Area Sensor Network</strong><br>
      Tariq Umer<sup>1</sup>; Muhammad Amjad<sup>1</sup>; Muhammad Khalil Afzal<sup>1</sup> (<sup>1</sup> COMSATS Institute of Information Technology, Pakistan); Muhammad Aslam<sup>2</sup> (<sup>2</sup> School of Computer Science and Technology Dalian University of Technology, China)
  </li>
</ul>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
