{% extends '::base.html.twig' %}
{% block content %}
<ul class="pricing-table">
  <li class="title"><strong>Technical Program<br>Friday, January 12, 2018</strong></li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>8:30 – 10:00: AALEH - Ambient Assisted Living and eHealth (1)</strong><br>
    <strong>Session chair: Prof. Arnoldo Diaz-Ramirez</strong><br>
    <strong>Room: VIRGINIA CITY</strong></li>
   
  <li class="bullet-item">
     <font size="3">
      <strong>RehabPartner: Motion Tracking Assistant Using a Novel Complementary Feedback Filter</strong><br>
      Shao Loong Lim (Nanyang Technological University Singapore, Singapore); Seanglidet Yean, Bu Sung Lee and Chai Kiat (Nanyang Technological University Singapore, Singapore)
      </font>
  </li>
  <li class="bullet-item">
    <font size="3">
      <strong>Development and evaluation of a Healthy Coping voice interface application using the Google Home for elderly patients with Type 2 Diabetes</strong><br>
      Amy Cheng (Auburn University, USA); Vaishnavi Raghavaraju (University of Cincinnati, USA); Jayanth Kanugo (University of Missouri, USA); Yohanes Handrianto and Yi Shang (University of Missouri, USA)
    </font>
  </li>
  <li class="bullet-item">
    <font size="3">
      <strong>Tacit Computing and its Application for Open IoT Era</strong><br>
      Misao Kataoka (NTT, Japan); Naoto Hoshikawa (NTT Network Service Systems Laboratories & NTT, Japan); Hirofumi Noguchi and Tatsuya Demizu (Nippon Telegraph and Telephone Corporation, Japan); Yoji Yamato (NTT Corporation, Japan)
    </font>
  </li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>10:00 – 10:30: Coffee Break and Networking</strong></li>
</ul>
<ul class="pricing-table">
  <li class="title"><strong>10:30 – 12:30: AALEH - Ambient Assisted Living and eHealth (2)</strong><br>
    <strong>Session chair: Prof. Arnoldo Diaz-Ramirez</strong><br>
    <strong>Room: VIRGINIA CITY</strong></li>
  <li class="bullet-item">
    <font size="3">
      <strong>A Fuzzy Control-based Approach for the Selection of Health Interventions</strong><br>
      Juan Calderon (2209 Fitness club way apt 203, USA); Luis G Jaimes (Florida Polytechnic University, USA)
    </font>
  </li>
  <li class="bullet-item">
    <font size="3">
      <strong>Crowd-based positioning of UAVs as Access Points</strong><br>
      Dorin Rautu and Riadh Dhaou (IRIT/ENSEEIHT, University of Toulouse, France); Emmanuel Chaput (Irit-Enseeiht, France)
    </font>
  </li>
  <li class="bullet-item">
    <font size="3">
      <strong>Utilization-based Parking Space Suggestion in Smart City</strong><br>
      Chia-Ying Lin, Yi-Lung Lu, Meng-Hsun Tsai and Hui-Ling Chang (National Cheng Kung University, Taiwan)up>2</sup>Carleton University, Canada); Amr Mohamed<sup>1</sup> (<sup>1</sup>Qatar University, Qatar)
    </font>
  </li>
</ul>
</font>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
