{% extends '::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="large-12 columns" align="center">
			<h1> Programa</h1>
			<hr>
		</div>
	</div>
	<div class="row">
        <div class="large-2 columns">
            <strong>8:00-8:25hrs.</strong><br/>
        </div>
        <div class="large-10 columns">
        	<p>Inscripción de participantes<br/>
			Lugar: Sala audiovisual edificio “U” planta baja.</p>
			<hr>
        </div>
  	</div>
	<div class="row">
        <div class="large-2 columns">
            <strong>8:30hrs.</strong><br/>
        </div>
        <div class="large-10 columns">
        	<p>Ceremonia de inauguración<br/>
			Lugar: Sala audiovisual edificio “U” planta baja.</p>
			<hr>
        </div>
  	</div>
	<div class="row">
        <div class="large-2 columns">
            <strong>9:00-12:00hrs.</strong><br/>
        </div>
        <div class="large-10 columns">
        	<p>Concurso de programación<br/>
			Lugar: Laboratorios del edificio “G”.</p>
			<hr>
        </div>
  	</div>
	<div class="row">
        <div class="large-2 columns">
            <strong>12:30hrs.</strong><br/>
        </div>
        <div class="large-10 columns">
        	<p>Premiación y Clausura<br/>
			Lugar: Sala audiovisual del edificio “D”.</p>
			<hr>
        </div>
  	</div>
{% endblock %}