{% extends '::base.html.twig' %}
{% block content %}
<h1>Venue</h1>
<p><br>
	<strong>Flamingo Las Vegas</strong> will serve as the conference hotel for IEEE CCNC 2018. Flamingo may be one of the most classic Las Vegas hotels, but its rooms feature sleek, bright designs and decor. Set on the famous four corners of Las Vegas Boulevard and Flamingo Road, this Las Vegas hotel combines heart-pounding excitement with hospitality and service that's second to none. Located adjacent to The Linq and The High Roller.<br>
	<br>
	Flamingo Las Vegas<br>
	3555 Las Vegas Boulevard South<br>
	Las Vegas, NV 89109<br>
	Phone:  +1 702.733.3111<br>
	<br><br>
	<br>
	</p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
