{% extends '::base.html.twig' %}
{% block content %}
<h1>Venue</h1>
IEEE CCNC 2016 conference has selected the Planet Hollywood Resort & Casino as its headquarters hotel. The Planet Hollywood Resort & Casino is an exciting place to be. Located on the Las Vegas Strip, this Las Vegas Resort offers spacious rooms and bathrooms, as well as nearly three acres of casino entertainment.  

Planet Hollywood
3667 Las Vegas Blvd S
Las Vegas, NV 89109
Main Tel: +1 702-785-5555 or 1-866-227-5944
Reservations: +1 866-317-1829

Please identify yourself with IEEE CCNC Conference.

The following rates are per guestroom, per night, single or double occupancy. Rates are subject to Clark County Room Tax, currently twelve percent (12%).

Wednesday, January 6, 2016 $219.00*
Thursday, January 7, 2016 $219.00*
Friday, January 8, 2016 $219.00*
Saturday, January 9, 2016 $159.00*
Sunday, January 10, 2016 $159.00*
Monday, January 11, 2016 $159.00*


Group code: SMIEE6 |call center number (877) 603-4389

Web link: https://resweb.passkey.com/go/SMIEE6

*Please note - a daily $20.00 resort fee plus tax will be added to your rate upon check-in.

Reservation Deadline is Friday, December 4, 2015. Upon booking your reservation, your credit card will be charged, a deposit equal to one night's room and tax. To avoid forfeiture of deposit, please ensure all changes and cancellations are made at least 72 hours prior to scheduled arrival date.

Important Notice

The IEEE Communications Society has contractual obligations to fill guaranteed guest room blocks at Planet Hollywood. Significant financial penalties will be assessed the Society should CCNC 2016 fall short of the expected number of rooms guaranteed. By staying at the Planet Hollywood, you'll enjoy logistical conveniences and additional networking opportunities in valued support of IEEE ComSoc's financial obligations.
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
