{% extends '::base.html.twig' %}
{% block content %}
<h1>Venue</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	&nbsp;&nbsp;&nbsp;<img alt="" src="http://www.destination360.com/north-america/us/nevada/las-vegas/images/planet-hollywood-las-vegas.jpg" width="40%" height="40%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	IEEE CCNC 2016 conference has selected the Planet Hollywood Resort &amp; Casino as its headquarters hotel. The Planet Hollywood Resort &amp; Casino is an exciting place to be. Located on the Las Vegas Strip, this Las Vegas Resort offers spacious rooms and bathrooms, as well as nearly three acres of casino entertainment.&nbsp;&nbsp;<br>
	<br>
	Planet Hollywood<br>
	3667 Las Vegas Blvd S<br>
	Las Vegas, NV 89109<br>
	Main Tel: +1 702-785-5555 or 1-866-227-5944<br>
	Reservations: +1 866-317-1829<br>
	<br>
	Please identify yourself with IEEE CCNC Conference.<br>
	<br>
	The following rates are per guestroom, per night, single or double occupancy. Rates are subject to Clark County Room Tax, currently twelve percent (12%).<br>
	<br>
	Wednesday, January 6, 2016 $219.00*<br>
	Thursday, January 7, 2016 $219.00*<br>
	Friday, January 8, 2016 $219.00*<br>
	Saturday, January 9, 2016 $159.00*<br>
	Sunday, January 10, 2016 $159.00*<br>
	Monday, January 11, 2016 $159.00*</p>
	<p><br>
	Group code: SMIEE6 |call center number (877) 603-4389</p>
	<p>Web link: https://resweb.passkey.com/go/SMIEE6<br>
	<br>
	*Please note - a daily $20.00 resort fee plus tax will be added to your rate upon check-in.<br>
	<br>
	Reservation Deadline is Friday, December 4, 2015. Upon booking your reservation, your credit card will be charged, a deposit equal to one night's room and tax. To avoid forfeiture of deposit, please ensure all changes and cancellations are made at least 72 hours prior to scheduled arrival date.<br>
	<br>
	Important Notice<br>
	<br>
	The IEEE Communications Society has contractual obligations to fill guaranteed guest room blocks at Planet Hollywood. Significant financial penalties will be assessed the Society should CCNC 2016 fall short of the expected number of rooms guaranteed. By staying at the Planet Hollywood, you'll enjoy logistical conveniences and additional networking opportunities in valued support of IEEE ComSoc's financial obligations.</p>
{% endblock %}
{% block cols %}
<div class="large-12 columns">
{% endblock %}
